@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Solo';
  src: url('/fonts/solo/Solo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


html {
  scroll-behavior: smooth !important;
}
